doctype html
html
  head
    title Node app
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")

    style(type="text/css").
      .error {
        color: red;
      }
  body
    header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        ul
          a(href="/")
            li Home
          a(href="/register")
            li Register
          a(href="/login")
            li Login
    block content